.container {
    margin: 30px 10px 30px 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    height: 500px;
    border-radius: 20px;
    box-shadow: rgb(190, 190, 190) 0px 0px 2px 1px;
    background-color: white;
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.maxToken {
    text-align: left;
    font-size: 12px;
}

.slippage {
    width: 100%;
    text-align: left;
    font-size: 14px;
    margin-top: -15px;
}

.tokenInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.arrow {
    font-size: 80px;
    font-weight: 200;
}

.rate {
    font-size: 16px;
    margin-left: 20px;
    font-weight: 400;
}

.arrowContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.slippageAction {
    cursor: pointer;
    color: #25CAD7;
    font-weight: 600;
    margin-left: 5px;
}

.slippageInput {
    width: 50px;
    margin-right: 2px;
    height: 15px;
}

.aboveTokenAContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: -10px;
}

.aboveTokenBContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: -10px;
}

.mainButton {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    border-radius: 30px;
    border: none;
    background-color: #25CAD7;
    color: white;
    transition: 0.3s;
}

.disabledButton {
    font-weight: 600;
    font-size: 16px;
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    border: none;
    background-color: #25CAD7;
    color: white;
    opacity: 0.5;
}

.mainButton:hover {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .container {
        height: 630px;
    }

    .tokenInputContainer {
        flex-direction: column;
    }
}